.fa-twitter, .fa-twitter-square {
    color: #00aced
}

.fa-itch-io {
    color: #fa5c5c
}

.fa-github-square {
    color: #24292e
}

.fab {
    font-size: 60px;
    width: 50px;
    text-decoration: none;
    border-radius: 50%;
}